<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Admin panel</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<header class="navbar navbar-expand-lg navbar-dark text-white bg-dark">
    <div class="container-fluid">
        <div class="row">
            <div class="col">

                <b><span sec:authentication="name"></span></b>
                with roles:
            </div>
            <div class = "mr-1" sec:authorize="hasAuthority('ADMIN') ">
                ADMIN
            </div>
            <div sec:authorize="hasAuthority('USER')">
                USER
            </div>
        </div>
    </div>
    <a class="col-auto text-secondary" th:href="@{/logout}">Logout</a>
</header>

<div class="container-fluid p-0">
    <div class="row">
        <div class="col-2"> <!div боковой бар слева>
            <a class="btn-block btn-primary rounded border-0 p-2 mt-3 mb-0 text-left" th:href="@{/admin/userApp}" role="button">Admin</a>
            <a class="btn-block btn-link rounded border-0 p-2 mt-0 text-left" th:href="@{/user}" role="button">User</a>
        </div> <!div боковой бар слева>


        <div class="col-10 bg-light p-4">
            <h1>Admin panel</h1>

            <ul class="nav nav-tabs"> <!-вкладки>
                <li class="nav-item"><!-ухо-первой-вкладки>
                    <a class="nav-link active" data-toggle="tab" href="#usersTable">Users table</a>
                </li>
                <li class="nav-item"><!-ухо-второй-вкладки>
                    <a class="nav-link" data-toggle="tab" href="#newUser">New user</a>
                </li>
            </ul>

            <div class="tab-content"> <!-содержимое вкладок>
                <div class="tab-pane fade show active" id="usersTable"> <!-содержимое вкладки 1>
                    <div class="col-12 border rounded px-0 pt-0">
                        <div class="pl-4 py-2">
                            <h5><b>All users</b></h5>
                        </div>
                        <div class="">

                            <! табличный div блок>
                            <main class="container-fluid border-box bg-white border-top" role="main">

                                <div class="container-fluid pt-4 pb-3 pl-2">

                                    <table class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th scope="col">ID</th>
                                            <th scope="col">Name</th>
                                            <th scope="col">Salary</th>
                                            <th scope="col">Role</th>
                                            <th scope="col">Edit</th>
                                            <th scope="col">Delete</th>
                                        </tr>
                                        </thead>
                                        <tr th:each="user : ${users}">
                                            <td th:utext="${user.id}"></td>
                                            <td th:utext="${user.name}"></td>
                                            <td th:utext="${user.salary}"></td>
                                            <td th:utext="*{user.roles}"></td>
                                            <td><a role="button"
                                                   class="btn btn-info rounded border-0"
                                                   data-toggle="modal"
                                                   data-target="#editModal"
                                                   th:attrappend="data-target=${user.id}">Edit</a>
                                                <! Модальное окно для редактирования юзера>
                                                <div id="editModal" th:attrappend="id=${user.id}"
                                                     class="modal fade" tabindex="-1" role="dialog"
                                                     aria-labelledby="TitleModalLabel" aria-hidden="true"
                                                     data-backdrop="static" data-keyboard="false">
                                                    <div class="modal-dialog modal-dialog-scrollable">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="TitleModalLabel">Edit user</h5>
                                                                <button type="button" class="close" data-dismiss="modal"
                                                                        aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body bg-white">
                                                                <form id="formEditUser" th:attrappend="id=${user.id}"
                                                                      method="post"
                                                                      th:action="@{/update}"

                                                                      class="form-signin mx-auto font-weight-bold text-center"
                                                                      style="width: 200px;">
                                                                    <p>
                                                                        <label for="id">ID</label>
                                                                        <input class="form-control form-control-sm" type="text"
                                                                               name="id" id="id" readonly
                                                                               th:value="${user.id}">
                                                                    </p>
                                                                    <p>
                                                                        <label for="name">Name</label>
                                                                        <input class="form-control form-control-sm" type="text"
                                                                               name="name" th:value="${user.name}"
                                                                               id="name" placeholder="First name" required
                                                                               autofocus>
                                                                    </p>
                                                                    <p>
                                                                        <label for="salary">Salary</label>
                                                                        <input class="form-control form-control-sm"
                                                                               type="number"
                                                                               name="salary" th:value="${user.salary}"
                                                                               id="salary" placeholder="Salary">
                                                                    </p>
                                                                    <p>
                                                                        <label for="passwd">Password</label>
                                                                        <input class="form-control form-control-sm"
                                                                               type="password"
                                                                               name="password" th:value="${user.password}"
                                                                               id="passwd" placeholder="Password" required>
                                                                    </p>
                                                                    <p>
                                                                        <label for="roles">Role</label>
                                                                        <select id="roles" name="roles"
                                                                                class="form-control form-control-sm"
                                                                                multiple size="2" required>
                                                                            <option th:each="role : ${roleNames}"
                                                                                    th:value="${role.id}"
                                                                                    th:text="${role.name}"
                                                                                    th:selected="${user.roles.contains(role)}">
                                                                            </option>
                                                                        </select>
                                                                    </p>
                                                                </form>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary"
                                                                        data-dismiss="modal">Close
                                                                </button>
                                                                <button type="submit" form="formEditUser"
                                                                        th:attrappend="form=${user.id}"
                                                                        class="btn btn-primary">Edit
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td><a role="button"
                                                   class="btn btn-danger rounded border-0"
                                                   data-toggle="modal"
                                                   data-target="#deleteModal"
                                                   th:attrappend="data-target=${user.id}">Delete</a>
                                                <! Модальное окно для удаления юзера>
                                                <div id="deleteModal" th:attrappend="id=${user.id}"
                                                     class="modal fade" tabindex="-1" role="dialog"
                                                     aria-labelledby="TitleModalDLabel" aria-hidden="true"
                                                     data-backdrop="static" data-keyboard="false">
                                                    <div class="modal-dialog modal-dialog-scrollable">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="TitleModalDLabel">Delete user</h5>
                                                                <button type="button" class="close" data-dismiss="modal"
                                                                        aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body bg-white">
                                                                <form id="formDeleteUser" th:attrappend="id=${user.id}"
                                                                      method="post"
                                                                      th:action="@{/delete/{id}(id=${user.id})}"

                                                                      class="form-signin mx-auto font-weight-bold text-center"
                                                                      style="width: 200px;">
                                                                    <p>
                                                                        <label for="id">ID</label>
                                                                        <input class="form-control form-control-sm" type="text"
                                                                               name="id" id="id" readonly
                                                                               th:value="${user.id}">
                                                                    </p>
                                                                    <p>
                                                                        <label for="name">First name</label>
                                                                        <input class="form-control form-control-sm" type="text"
                                                                               name="name" th:value="${user.salary}"
                                                                               id="name" placeholder="First name" readonly
                                                                               autofocus>
                                                                    </p>
                                                                    <p>
                                                                        <label for="salary">Salary</label>
                                                                        <input class="form-control form-control-sm"
                                                                               type="number"
                                                                               name="salary" th:value="${user.salary}"
                                                                               id="salary" placeholder="Salary" readonly >
                                                                    </p>
                                                                    <p>
                                                                        <label for="passwd">Password</label>
                                                                        <input class="form-control form-control-sm"
                                                                               type="password"
                                                                               name="password" th:value="${user.password}"
                                                                               id="passwd" placeholder="Password" readonly>
                                                                    </p>
                                                                    <p>
                                                                        <label for="roles">Role</label>
                                                                        <select id="roles" name="roles"
                                                                                class="form-control form-control-sm"
                                                                                multiple size="2" readonly>
                                                                            <option th:each="role : ${roleNames}"
                                                                                    th:value="${role}"
                                                                                    th:text="${role.name}"
                                                                                    th:selected="${user.roles.contains(role)}">
                                                                            </option>
                                                                        </select>
                                                                    </p>
                                                                </form>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary"
                                                                        data-dismiss="modal">Close
                                                                </button>
                                                                <button type="submit" form="formDeleteUser"
                                                                        th:attrappend="form=${user.id}"
                                                                        class="btn btn-primary">Delete
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </main>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="newUser"> <!-содержимое вкладки 2>
                    <div class="col-12 border rounded px-0 pt-0">
                        <div class="pl-4 py-2">
                            <h5><b>Add new User</b></h5>
                        </div>
                            <div class="">

                                <! табличный div блок>
                                <div class="container-fluid border-box bg-white border-top">
                                    <div class="container pt-4 pb-3 pl-2">

                                        <div class="row justify-content-center align-items-center">
                                        <form class="form-signin mx-auto font-weight-bold text-center p-3" th:action="@{/create}" th:object="${userFormer}" method="post">
                                            <div class="form-group mb-3">
                                                <label for="formName" class="text-red text-center mx-auto"><strong>Name</strong></label>
                                                <input type="text" class="form-control" id="formName" placeholder="Enter name" name="name" required>
                                            </div>
                                            <div class="form-group mb-3">
                                                <label for="formPassword"><strong>Password</strong></label>
                                                <input type="password" class="form-control" id="formPassword" name="password" required>
                                            </div>
                                            <div class="form-group mb-3">
                                                <label for="formSalary"><strong>Salary</strong></label>
                                                <input type="number" class="form-control" id="formSalary" placeholder="Enter salary" name="salary" required>
                                            </div>
                                            <div class="form-group mb-3">
                                                <label for="formRoles">Role</label>
                                                <select class="form-control" id="formRoles" multiple size="2" name="roles" required>
                                                    <option th:each="role : ${roleNames}"
                                                            th:value="${role.id}"
                                                            th:text="${role.name}"></option>
                                                </select>
                                            </div>
                                            <button type="submit" class="btn-lg btn-success rounded border-0 align-content-center">Add new user</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!row>
</div> <!container>


<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>