<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Admin panel</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<header class="navbar navbar-expand-lg navbar-dark text-white bg-dark">
    <div class="container-fluid">
        <div class="row">
            <div class="col">

                <b><span sec:authentication="name"></span></b>
                with roles:
            </div>
            <div class = "mr-1" sec:authorize="hasAuthority('ADMIN') ">
                ADMIN
            </div>
            <div sec:authorize="hasAuthority('USER')">
                USER
            </div>
        </div>
    </div>
    <a class="col-auto text-secondary" th:href="@{/logout}">Logout</a>
</header>

<div class="container-fluid p-0">
    <div class="row">
        <div class="col-2"> <!div боковой бар слева>
            <a class="btn-block btn-primary rounded border-0 p-2 mt-3 mb-0 text-left" th:href="@{/admin/userApp}" role="button">Admin</a>
            <a class="btn-block btn-link rounded border-0 p-2 mt-0 text-left" th:href="@{/user}" role="button">User</a>
        </div> <!div боковой бар слева>


        <div class="col-10 bg-light p-4">
            <h1>Admin panel</h1>

            <ul class="nav nav-tabs"> <!-вкладки>
                <li class="nav-item"><!-ухо-первой-вкладки>
                    <a class="nav-link active" data-toggle="tab" href="#usersTable">Users table</a>
                </li>
                <li class="nav-item"><!-ухо-второй-вкладки>
                    <a class="nav-link" data-toggle="tab" href="#newUser">New user</a>
                </li>
            </ul>

            <div class="tab-content"> <!-содержимое вкладок>
                <div class="tab-pane fade show active" id="usersTable"> <!-содержимое вкладки 1>
                    <div class="col-12 border rounded px-0 pt-0">
                        <div class="pl-4 py-2">
                            <h5><b>All users</b></h5>
                        </div>
                        <div class="">

                            <! табличный div блок>
                            <main class="container-fluid border-box bg-white border-top" role="main">

                                <div class="container-fluid pt-4 pb-3 pl-2">

                                    <table class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th scope="col">ID</th>
                                            <th scope="col">Name</th>
                                            <th scope="col">Salary</th>
                                            <th scope="col">Role</th>
                                            <th scope="col">Edit</th>
                                            <th scope="col">Delete</th>
                                        </tr>
                                        </thead>
                                        <tr th:each="lst : ${users}">
                                            <td th:utext="${lst.id}"></td>
                                            <td th:utext="${lst.name}"></td>
                                            <td th:utext="${lst.salary}"></td>
                                            <td th:utext="${lst.password}"></td>
                                            <td><a class="btn btn-info rounded border-0" th:href="@{/admin/edit/{id}(id=${lst.id})}" role="button">Edit</a></td>
                                            <td><a class="btn btn-danger rounded border-0" th:href="@{/admin/delete/{id}(id=${lst.id})}" role="button">Delete</a></td>
                                        </tr>
                                    </table>
                                </div>
                            </main>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="newUser"> <!-содержимое вкладки 2>
                    <div class="col-12 border rounded px-0 pt-0">
                        <div class="pl-4 py-2">
                            <h5><b>Add new User</b></h5>
                        </div>
                        <div class="">

                            <! табличный div блок>
                            <div class="container-fluid border-box bg-white border-top">
                                <div class="container pt-4 pb-3 pl-2">
                                    <div class="row justify-content-center align-items-center">
                                    <form action="#" th:action="@{/admin/userApp}" th:object="${userFormer}" method="post">
                                        <div class="form-group mb-3">
                                            <label for="formName" class="text-red text-center mx-auto"><strong>Name</strong></label>
                                            <input type="text" class="form-control" id="formName" placeholder="Enter name" th:field="*{name}">
                                        </div>
                                        <div class="form-group mb-3">
                                            <label for="formPassword"><strong>Password</strong></label>
                                            <input type="password" class="form-control" id="formPassword" placeholder="Password" th:field="*{password}">
                                        </div>
                                        <div class="form-group mb-3">
                                            <label for="formSalary"><strong>Salary</strong></label>
                                            <input type="number" class="form-control" id="formSalary" placeholder="Enter salary" th:field="*{salary}">
                                        </div>
                                        <div class="form-group mb-3">
                                            <label for="formRole"><strong>Role</strong></label>
                                            <select multiple class="form-control" id="formRole">
                                                <option>ADMIN</option>
                                                <option>USER</option>
                                            </select>
                                        </div>

                                        <button type="submit" class="btn-lg btn-success rounded border-0 align-content-center">Add new user</button>
                                    </form>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!row>
</div> <!container>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>