<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Private cabinet</title>
</head>
<body>
<h1><span sec:authentication="name"></span>, welcome to your Private cabinet!</h1>
<div sec:authorize="isAuthenticated()">
    This content is only shown to authenticated users.
</div>
<div sec:authorize="hasAuthority('ADMIN')">
    Also you a logged as administrator.
    <a th:href="@{/admin/userApp}">go to Admin page</a>
</div>
<br>
<br>
<div sec:authorize="isAuthenticated()">
    Authenticated as <span sec:authentication="name"></span><br>
    With Salary equal <a th:text="${user.salary}"></a></div>
<br>
<br>
<br>
<a th:href="@{/logout}">logout</a>
</body>
</html>